@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

:root {
  --primary-color: #34d399;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(#a7f3d0, #ecfdf5);
  font-family: "Kaisei Tokumin", serif;
}

.container {
  margin: 4rem 0rem 7rem;
  text-align: center;
}

.heading {
  color: var(--primary-color);
}

.desc {
  margin: 1rem;
  font-size: larger;
}

.input-label {
  display: block;
  font-size: larger;
  font-weight: 600;
}

.input {
  outline: white;
  font-size: 14px;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  max-width: 200px;
}

.check-button {
  margin: auto;
  display: block;
  background-color: var(--primary-color);
  border: none;
  padding: 0.7rem 1rem;
  font-size: large;
  border-radius: 0.5rem;
  color: white;
}

.check-button:hover {
  color: var(--primary-color);
  background-color: white;
  border: 2px solid var(--primary-color);
  padding: 0.7rem 1rem;
}

.change-table {
  margin: 1rem auto;
  font-weight: 500;
  width: 50%;
  border-collapse: collapse;
}

.change-table caption {
  margin: 1rem auto;
  font-weight: bold;
  font-size: x-large;
}

th,
td {
  border: 2px solid var(--primary-color);
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: justify;
  font-weight: normal;
  font-size: larger;
}

footer {
  color: var(--primary-color);
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

img,
li {
  display: inline;
  padding: 0.2rem;
  width: 40px;
}

.footer-list {
  margin: 1rem;
}
